# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

share/
.idea/

# PIE dataset with only the light variation subset. Modified with separate_image_files.py
images/

# for tfrecords. see pie_input.py
out/

# for images taken from tfrecords. see read_tf_records.py
output/
*.pyc
keras/cifar-10/pro-data