appdirs==1.4.2
cycler==0.10.0
funcsigs==1.0.2
functools32==3.2.3.post2
matplotlib==2.0.0
mock==2.0.0
numpy==1.11.2
olefile==0.44
packaging==16.8
pbr==1.10.0
Pillow==4.0.0
pkg-resources==0.0.0
protobuf==3.0.0b2
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
subprocess32==3.2.7
tensorflow==1.0.0
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.0.0-cp27-none-linux_x86_64.whl
